@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-image-container {
  margin-top: 10px;
  background-image: url("https://i.postimg.cc/SNPxZDLz/20240127-015836-0000.png");
  background-size: cover;
  background-position: center;
  height: 40vh;
  position: relative;
  transform: translateZ(0);
  animation: fadeIn 5s ease-in;
}

.gradient-container h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 28px;
  color: #921a40;
}

.gradient-container h2 {
  font-size: 20px; /* Assuming a default value */
  font-weight: 600;
  font-style: italic;
  font-family: "Merriweather", serif;
}

.explore-btn {
  background-color: black;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: -30px;
  height: 80px;
  width: 80px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
}

.explore-btn:hover {
  background-color: #921a40;
  color: beige;
}

@media (max-width: 480px) {
  .gradient-container {
    padding: 12px;
  }
  .gradient-container h1 {
    font-size: 20px;
  }
  .gradient-container h2 {
    font-size: 14px;
  }
}
